<form action="/admin/admin-password-submit" method="POST" class="container mt-5" style="max-width:400px;">
    <div class="mb-3">
        <label for="password" class="form-label">Enter Admin Password</label>
        <input type="password" name="password" id="password" class="form-control" required autofocus>
    </div>
    {{#if error}}
    <div class="alert alert-danger">{{error}}</div>
    {{/if}}
    <button type="submit" class="btn btn-primary w-100">Submit</button>
    <div class="mt-5">
        
    </div>
</form>